{% extends 'base.html.twig' %}

{% block title %}ASC - Accueil
{% endblock %}

{% block body %}
	<h1>Bienvenue sur ASC</h1>
	<section>
		{% for home in homes %}
			<div class="card mb-4">
				<div class="card-body shadow bg-0 rounded">
					{{ home.message|raw }}
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}
